.company {
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  color: white;
  text-align: center;
}

.click-here {
  font-size: 24px;
  color: yellow;
}