.app {
  background-image: url('/photos/main-bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 50px 100px;
  color: white;
}

@media screen and (max-width: 1024px) {
  .app {
    padding: 30px 60px;
  }
}

@media screen and (max-width: 768px) {
  .app {
    padding: 20px;
    height: 100%;
  }
}